
.page-content {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
}

.topBanner {
  padding-left: 0px;
}

.about {
  line-height: 300%;
}

.author {
  font-family: Rock Salt;
  font-size: 150%
}

.instructor {
  font-family: Great Vibes;
  font-size: 200%;
}