.page-content {
  padding-left: 2%;
  padding-right: 2%;
}

img {
  display: block;
}

img.topBanner {
  height: 60px;
}

.topBanner {
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.about {
  line-height: 300%;
  text-align: center;
}

.author {
  font-family: Rock Salt;
  font-size: 150%
}

.instructor {
  font-family: Great Vibes;
  font-size: 200%;
}

