body {
  padding-top: 50px;  /* Move body of page below navbar. */
}

.page-content {
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}


.about {
  line-height: 300%;
}

.author {
  font-family: Rock Salt;
  font-size: 150%
}

.instructor {
  font-family: Great Vibes;
  font-size: 200%;
}