@*
* The application's about page.
*
* @author Mark Nelson
* @see http://www.playframework.com
*@
@(title: String, pageName: String)

@Main(title = title) {

  @MainNavbar(title = title, pageName = pageName)

  <h1>About</h1>

  <p class="about">
    @title was written by: <br>
    <span class="author">Mark Nelson</span> <br>
    ...in the Spring of 2015... <br>
    for ICS 613 - Advanced Software Engineering <br>
    taught by <br>
    <span class="instructor">Dr. Philip Johnson</span> <br>
  </p>

}
