@*
* The application's home page.
*
* @author Mark Nelson
* @see http://www.playframework.com
*@
@(title: String, pageName: String, contacts: List[Contact])

@Main(title = title) {

  @MainNavbar(title = title, pageName = pageName)

  <h1>Current Contacts</h1>

  <table class="table table-bordered table-responsive table-striped">
    <tr>
      <th>First</th> <th>Last</th> <th>Phone</th> <th>Phone Type</th> <th>Edit</th> <th>Delete</th>
    </tr>

    @for(contact <- contacts) {
      <tr>
        <td>@contact.getFirstName</td>
        <td>@contact.getLastName</td>
        <td>@contact.getPhone</td>
        <td>@contact.getPhoneType</td>
        <td><a class="btn btn-xs btn-warning" href="@routes.Application.getNewContact(contact.getId)">Edit</a></td>
        <td><a class="btn btn-xs btn-danger" href="@routes.Application.deleteContact(contact.getId)">Delete</a></td>
      </tr>
    }
  </table>

}




