@(title: String, pageName: String)

<img class="topBanner visible-md visible-lg visible-sm" src="@routes.Assets.at("images/asl_numbers.png")" alt="Top Banner">

<!-- Responsive navbar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--  Display three horizontal lines when navbar collapsed. -->
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.getHome()">@title</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li @if(pageName == "Home") {class="active"}><a href="@routes.Application.getHome()">Home</a></li>
        <li @if(pageName == "New Contact") {class="active"}><a href="@routes.Application.getNewContact()">New Contact</a></li>
        <li @if(pageName == "About") {class="active"}><a href="@routes.Application.getAbout()">About</a></li>
      </ul>
    </div>

  </div>
</div>
